.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  stroke-width: 1px;
}

.line1 {
  fill: none;
  stroke: steelblue;
  stroke-width: 2.5px;
}
.line2 {
  fill: none;
  stroke: red;
  stroke-width: 2.5px;
}
.tick{
  stroke-width: 0px;
}
